<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="btn btn-outline-primary" aria-current="page" href="/new-song">Nowa piosenka</a>
          <a class="btn btn-outline-primary" aria-current="page" href="/ulubione">Ulubione piosenki</a>
          <a class="btn btn-outline-primary" aria-current="page" href="/UzytkownikUser">Lista użytkowników</a>
        </li>
      </ul>
      <form action="/" method="GET" class="d-flex">
        <select class="form-control me-2" name="kategoria">
            <option value="">wszystko</option>
            <option value="POP">POP</option>
            <option value="ROCK">ROCK</option>
            <option value="RAP">RAP</option>
            <option value="Trap">Trap</option>
        </select>
        <select class="form-control me-2" name="kraj">
            <option value="">wszystko</option>
            <option value="Ameryka">Ameryka</option>
            <option value="WielkaBrytania">Wielka Brytania</option>
            <option value="Niemcy">Niemcy</option>
            <option value="Anglia">Anglia</option>
            <option value="Polska">Polska</option>
        </select>
        <select class="form-control me-2" name="Wykonawca">
            <option value="">album</option>
            <option value="NF">NF</option>
            <option value="Sanah">Sanah</option>
            <option value="Sido">Sido</option>
            <option value="KMS">KMS</option>
            <option value="YUNGBLUD">YUNGBLUD</option>
             <option value="Sarius">Sarius</option>
            <option value="Surf-Curse">Surf Curse</option>
            <option value="Celine">Celine</option>
        </select>
        <button class="btn btn-outline-success" type="submit">Pokaż</button>
      </form>
    </div>
  </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Okładka</th>
            <th>Tytuł</th>
            <th>Wykonawca</th>
            <th>Kategoria</th>
            <th>Czas trwania</th>
            <th>Kraj pochodzenia</th>
            <th>Data dodania</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each songs}}
        <tr>
            <td>{{this.Id}}</td>
            <td>
              <img src="{{this.LinkOkladki}}" alt="" width="100%" height="100%">
            </td>
            <td>{{this.Tytul}}
            <td>{{this.Wykonawca}}</td>
            <td>{{this.Kategoria}}</td>
            <td>{{this.CzasTrwania}}</td>
            <td>{{this.KrajPochodzenia}}</td>
            <td>{{this.DataDodania}}</td>
            <td>
                <form action="/ulubione" method="POST">
                  <input type="hidden" name="idPiosenki" value="123" >
                  <button type="submit" class="btn btn-sm btn-outline-danger"><img src="http://www.kosmetyka-ziomek.pl/wp-content/uploads/2019/07/serce-jpg-300x272.png" height="50%" width="50%"></button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>