<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      </ul>
      <form class="d-flex">
        <select class="form-control me-2" name="kategoria">
            <option value="">wszystko</option>
            <option value="POP">POP</option>
            <option value="ROCK">ROCK</option>
            <option value="RAP">RAP</option>
            <option value="Trap">Trap</option>
        </select>
            <form class="d-flex">
        <select class="form-control me-2" name="kraj">
            <option value="">wszystko</option>
            <option value="Ameryka">Ameryka</option>
            <option value="WielkaBrytania">Wielka Brytania</option>
            <option value="Niemcy">Niemcy</option>
            <option value="Anglia">Anglia</option>
            <option value="Polska">Polska</option>
        </select>
        <button class="btn btn-outline-success" type="submit">Pokaż</button>
      </form>
    </div>
  </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Okładka</th>
            <th>Tytuł</th>
            <th>Wykonawca</th>
            <th>Kategoria</th>
            <th>Czas trwania</th>
            <th>Kraj pochodzenia</th>
            <th>Data dodania</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each songs}}
        <tr>
            <td>{{this.Id}}</td>
            <td>
              <img src="{{this.LinkOkladki}}" alt="" width="100%" height="100%">
            </td>
            <td>{{this.Tytul}}
            <td>{{this.Wykonawca}}</td>
            <td>{{this.Kategoria}}</td>
            <td>{{this.CzasTrwania}}</td>
            <td>{{this.KrajPochodzenia}}</td>
            <td>{{this.DataDodania}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>