<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="btn btn-outline-primary" aria-current="page" href="/new-song">Nowy użytkownik</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="mb-3">
        <label for="cena" class="form-label">Hasło</label>
        <input type="password" class="form-control" name="password" id="password" required>
    </div>

    <div class="text-center mb-3">
        <button class="btn btn-lg btn-primary">Zaloguj</button>
    </div>
    <div class="text-center">
</form>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imie</th>
            <th>Login</th>
            <th>Hasło</th>
            <th>Umowa</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each user}}
        <tr>
            <td>{{this.Id}}</td>
            <td>{{this.Imie}}</td>
            <td>{{this.Login}}</td>
            <td>{{this.Haslo}}</td>
            <td>{{this.Umowa}}</td>
            <td>{{this.Email}}</td>
            <td>
                <form action="songs/{{this.Id}}/delete" method="POST">
                  <button type="submit" class="btn btn-sm btn-outlince-danger">&times;</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
